::-moz-selection {
  background-color: rgba(0, 0, 0, 0.2);
}

::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1395px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}

.logo {
  width: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
}

.button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  padding: 5px 0;
  background-color: transparent;
  border: 2px solid #ef3a32;
  border-radius: 20px;
  color: #ef3a32;
  font-weight: bold;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}
.button:hover {
  color: #ffffff;
  background-color: #ef3a32;
}

.burger-menu {
  width: 31px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.burger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px auto;
  transition: 0.4s;
  background-color: #000000;
}

.header {
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
  transition: 0.4s;
}
.header__container {
  padding-top: 38px;
  padding-bottom: 38px;
  transition: 0.4s;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar__list {
  width: 440px;
  transition: 0.4s;
  z-index: 5;
}
.nav-bar__element {
  width: 22.5%;
}
.nav-bar__element:nth-child(2) {
  width: 48%;
}

.quotes-section {
  background-color: #dddddd;
}
.quotes-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.quotes-element {
  height: 380px;
  width: 100%;
  background-color: transparent;
  margin-bottom: 35px;
}
.quotes-element:last-child {
  margin-bottom: 0;
}
.quotes-element__inner-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 35px 35px 40px 40px;
  transform-style: preserve-3d;
  transition: 0.4s;
}
.quotes-element__front-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.quotes-element__back-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-right: 40px;
}
.quotes-element__date {
  width: 50%;
  font-size: clamp(28px, 4vw, 50px);
  color: #ef3a32;
  font-weight: 300;
}
.quotes-element__buttons-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.quotes-element__buttons-list {
  width: 210px;
}
.quotes-element__button {
  width: 46.5%;
}
.quotes-element__author {
  display: flex;
  align-items: flex-end;
  width: 55%;
  font-size: clamp(24px, 7vw, 90px);
  text-transform: uppercase;
  line-height: 1;
}
.quotes-element__quote {
  width: 45%;
  display: flex;
  align-items: flex-end;
  font-size: clamp(16px, 1.7vw, 32px);
  font-weight: 300;
}

.quotes-element.--sharing-card {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 500px;
  top: 80vh;
  left: 20vw;
  z-index: -1000;
  background-color: transparent;
}

.quotes-element.--sharing-card .quotes-element__inner-container {
  position: relative;
  border-radius: 25px;
  background-color: #ffffff;
}

.quotes-element.--sharing-card .quotes-element__author {
  width: 100%;
  height: 35%;
  font-size: 35px;
  align-items: flex-start;
  position: absolute;
  left: 15px;
  top: 45px;
}

.quotes-element.--sharing-card .quotes-element__date {
  width: 100%;
  max-height: 50px;
  font-size: 35px;
  position: absolute;
  left: 15px;
  top: -5px;
}

.quotes-element.--sharing-card .quotes-element__quote {
  height: 50%;
  width: 95%;
  align-items: flex-end;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.quotes-element.--inactive {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #4d4d4d;
  border-radius: 25px;
}

.quotes-element.--inactive .quotes-element__date {
  color: #ffffff;
  font-size: clamp(28px, 4vw, 50px);
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .burger-menu.--active * {
    background-color: #ffffff;
  }
  .burger-menu.--active span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.--active span:first-child {
    transform: translateY(8px) rotateZ(45deg);
  }
  .burger-menu.--active span:last-child {
    transform: translateY(-8px) rotateZ(-45deg);
  }
  .nav-bar::before {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
  }
  .nav-bar.--active::before {
    display: block;
  }
  .nav-bar__list {
    width: min(320px, 100%);
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    flex-direction: column;
    background-color: #484848;
  }
  .nav-bar.--active .nav-bar__list {
    right: 0;
    overflow: hidden;
  }
  .nav-bar__element {
    width: 50%;
    max-width: 150px;
    margin: 50px 0;
  }
  .quotes-element {
    z-index: 1;
  }
  .quotes-element.--flipped .quotes-element__inner-container {
    transform: rotateY(180deg);
  }
  .quotes-element__back-container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-radius: inherit;
  }
  .quotes-element__back-container {
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .quotes-element__buttons-list {
    width: 100%;
    flex-direction: column;
  }
  .quotes-element__button {
    width: 125px;
    margin: 5px 0;
  }
  .quotes-element__front-container {
    flex-direction: column;
  }
  .quotes-element__inner-container {
    padding: 20px 30px 30px 20px;
  }
  .quotes-element__date {
    width: 100%;
    max-height: 50px;
  }
  .quotes-element__author {
    width: 100%;
    height: 35%;
    align-items: flex-start;
  }
  .quotes-element__quote {
    height: 50%;
    width: 100%;
    align-items: flex-end;
  }
}